body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: 100vh;
}

.elementContainer {
  padding: 0.5rem;
  width: 100%;
  max-width: 50rem;
}

.registrationFormContainer {
  width: 24rem;
}

.registrationFormLegend {
  width: 14rem;
  background: #dee2e6;
}

.loginFormContainer {
  width: 24rem;
}

.loginFormLegend {
  width: 14rem;
  background: #dee2e6;
}

.createPostFormContainer {
  width: 100%;
  max-width: 40rem;
  padding-bottom: 3rem;
}

.errorMessage {
  font-size: 12px;
  letter-spacing: 0.05rem;
  padding-left: 0.25rem;
}

h1 {
  padding-left: 5rem;
  padding-bottom: 3rem;
}
